.container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/3a073c5f-0160-4d85-9a42-6f59aa4b64b9/3242af29-8ec6-41c7-890e-5bd7393e2047/VN-vi-20220718-popsignuptwoweeks-perspective_alpha_website_large.jpg)
}

.login-heading {
    margin-bottom: 25px;
}

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    min-height: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #222526e2;
}

.login-form {
    margin: 10px 0;
}

.login-submit {
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    background-color: var(--second-color);
    color: #fff;
    cursor: pointer;
}

.login-submit:hover {
    opacity: 0.9;
}

.login-link {
    color: blue
}

.login-input {
    padding: 13px;
    width: 100%;
    border: none;
    outline: none
}

.login-tht {
    margin-top: 45px;
}